/** Modal **/
.dx-popup-normal .modal-header,
.dx-popup-normal .modal-body,
.dx-popup-normal .modal-footer {
    padding: 0;
    border:none;
}

.dx-popup-wrapper .dx-popup-content {
    padding:40px;
    padding-top:0;
}

.dx-popup-wrapper > .dx-overlay-content .dx-popup-title {
    border:none !important;
}

.dx-popup-normal .modal-header {
    margin-bottom: 12px;    
    display: flex;
}

.dx-popup-normal .modal-header {
    display: flex;
    align-items: center;
}

.dx-popup-normal .modal-header .modal-tit {
    font-size:24px;
    line-height:36px;
    color:#111;
    font-weight: 700;
    margin-bottom: 0;
}

.dx-popup-normal .modal-header .modal-subtit {
    margin-left: 16px;
    padding-left: 16px;
    font-size:24px;
    color:#444;
    font-weight: 500;
    position: relative;
}

.dx-popup-normal .modal-header .modal-subtit::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 24px;
    background-color: #ddd;   
    left:0;
    top:50%;
    transform:translateY(-50%);
}

.dx-popup-normal .modal-body .mc-tit {
    font-size:16px;
    font-weight: 700;
    line-height: 32px;
    display: flex;
    align-items: center;
}

.dx-popup-normal .modal-body .mc-tit .mct-icon {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image:url('/public/assets/bullet-icon.png') ;
    background-size: cover;
    display: block;
    margin-right: 8px;
}

.dx-popup-normal .modal-body .grid-box {
    width: 100%;
    background-color: #ddd;
    height: 234px;
}

.dx-popup-normal .modal-body .mc-ques {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    color:#333;
}

.dx-popup-normal .modal-footer {
    margin-top: 16px;
    justify-content: center;
    display: flex;
}

.dx-popup-normal .modal-footer .dx-button {
 margin:0 4px;   
}

.dx-popup-normal .modal-footer .dx-button .dx-button-content {
    min-width: 100px;
    padding:12px 20px;
    box-sizing: border-box;
    font-size:20px;
    border-radius: 8px;
    line-height: 24px;
}

.dx-popup-normal .modal-footer .dx-button.cancle-btn {
    color:#000;
    border:1px solid #DDD;
    background-color:#fff;
}

.dx-popup-normal .modal-footer .dx-button.confirm-btn {
    background-color: #159B97;
    border-color: #159B97;
    color:#fff;
}